body{
    text-align: center;
    background-color: #5CA1D7;
}
h1{
    color: white;
}
.small-quote{
    color: white;
}
.small-quote-reference{
    color: white;
}
div{
    text-align: center;
    display: inline-block; text-align: left;
}
img{
    max-height: 320px;
    max-width: 150px;
    margin: 10px auto;
}
.big-quote{
    color: white;
    font-size: 25px;
    max-width: 30%;
    text-align: center;
    display: inline-block;
}
footer{
    max-width: 22%;
    text-align: center;
    display: inline-block;
}
h1:hover{
    color: black;
}